body{
    padding: 0px;
    margin: 0px;
}
#canvas{
    display: block;
    width: 800px;
    height: 500px;
}

body .Game{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .Game .container_game{
    margin-top: 3%;
}

body .Game .container_game .info_block{
    display: flex;
    height: 30px;
    align-items: center;
}

body .Game .container_game .info_block .current_number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
body .Game .container_game .info_block .area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    border-top: 1px solid;
    border-right: 1px solid;
}
body .Game .container_game .controller_block{
    display: flex;
}
body .Game .container_game .controller_block .number_per_sec{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
body .Game .container_game .controller_block .number_per_sec .minus_per_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 2px solid;
    border-radius: 10px 0 0 10px;
    width: 50px;
}
body .Game .container_game .controller_block .number_per_sec .plus_per_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-radius: 0 10px 10px 0;
    width: 50px;
}
body .Game .container_game .controller_block .number_per_sec .info_per_sec{
    margin-left: 20px;
}



body .Game .container_game .controller_block .gravity_value{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
}
body .Game .container_game .controller_block .gravity_value .minus_grav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 2px solid;
    border-radius: 10px 0 0 10px;
    width: 50px;
}
body .Game .container_game .controller_block .gravity_value .plus_grav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-radius: 0 10px 10px 0;
    width: 50px;
}
body .Game .container_game .controller_block .gravity_value .info_grav{
    margin-left: 20px;
}